@use 'sass:math';
@use 'sass:color';
#showroomContainer {
    display: flex;
    position:relative;
    width:100%;
    height:100%;
 
    & .sliderBlockMask{
        display: flex;
        max-width: 80%;
        overflow: hidden;
        margin: 0 auto;
        &__sliderBlock{
            display: flex;
            flex-wrap: nowrap;
            margin: 0 auto;
        }
    }
    & .leftTransBtn{
        z-index: 3;
        display: flex;
        flex-direction: column;
        position:absolute;
        left:0;
        top:25%;
        width:5rem;
        height:50%;
        font-size: 1rem;
        transform: translateY(-25%);
        background-color: $fourthClr;
        margin-left:1rem;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        box-shadow: inset 0 0 5px #00000050;
        &:hover{
            cursor:pointer;
            box-shadow: 0 0 25px #00000050;
        }
        &:hover > .leftTransBtn__btnL1,
        &:hover > .leftTransBtn__btnL2{
            cursor:pointer;
            box-shadow: 0 0 25px #000000;
        }
        &:active,
        &:focus{
            cursor:pointer;
            box-shadow: inset 0 0 5px #00000050;
        }
        &:active > .sliderBlockMask__sliderBlock,
        &:focus > .sliderBlockMask__sliderBlock{
//            animation : translateRight 250ms ease-in forwards;
            //animation : translateLeft 250ms ease-in forwards;

        }
        &:active > .leftTransBtn__btnL1,
        &:focus > .leftTransBtn__btnL1,
        &:active > .leftTransBtn__btnL2,
        &:focus > .leftTransBtn__btnL2{
            cursor:pointer;
            box-shadow: 0 0 5px #000000;
        }
        &__btnL1{
            z-index: 4;
            position:absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -74%) rotate(13deg);
            display: block;
            width: 10%;
            height: 41%;
            background-color: color.scale($fourthClr, $lightness : +70%);
            border-top-right-radius: 50px;
            border-top-left-radius: 50px;
            //box-shadow : 0 0 10px #00000050;
            &:hover{
                cursor:pointer;
                box-shadow: 0 0 25px #00000050;
            }
        }
        &__btnL2{
            z-index: 4;
            position: absolute;
            bottom: 40%;
            left: 50%;
            transform: translate(-50%, 74%) rotate(167deg);
            display: block;
            width: 10%;
            height: 41%;
            background-color: color.scale($fourthClr, $lightness : +70%);
            border-top-right-radius: 50px;
            border-top-left-radius: 50px;
            //box-shadow : 0 0 10px #00000050;
            &:hover{
                cursor:pointer;
                box-shadow: 0 0 25px #00000050;
            }
        }
    }
    & .rightTransBtn{
        z-index: 3;
        display: flex;
        flex-direction: column;
        position:absolute;
        right:0;
        top:25%;
        width:5rem;
        height:50%;
        font-size: 1rem;
        transform: translateY(-25%);
        background-color: $fourthClr;
        margin-right:1rem;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0 0 5px #000000;
        &:hover{
            cursor:pointer;
            box-shadow: 0 0 25px #00000050;
        }
        &:hover > .leftTransBtn__btnL1,
        &:hover > .leftTransBtn__btnL2{
            cursor:pointer;
            box-shadow: 0 0 25px #000000;
        }
        &:active,
        &:focus{
            cursor:pointer;
            box-shadow: inset 0 0 5px #00000050;
        }
        &:active > .sliderBlockMask__sliderBlock,
        &:focus > .sliderBlockMask__sliderBlock{
            //animation : translateLeft 250ms ease-in forwards;
            //animation : translateRight 250ms ease-in forwards;
            @include move(10px, 120px,2.2);
            transition: left 2.2s;
        }
        &:active > .leftTransBtn__btnL1,
        &:focus > .leftTransBtn__btnL1,
        &:active > .leftTransBtn__btnL2,
        &:focus > .leftTransBtn__btnL2{
            cursor:pointer;
            box-shadow: 0 0 5px #000000;
        }
        &__btnR1{
            z-index: 4;
            position:absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -74%) rotate(-13deg);
            display: block;
            width: 10%;
            height: 41%;
            background-color: color.scale($fourthClr, $lightness : +70%);
            border-top-right-radius: 50px;
            border-top-left-radius: 50px;
            //box-shadow : 0 0 10px #00000050;
            &:hover{
                cursor:pointer;
                box-shadow: 0 0 25px #00000050;
            }
        }
        &__btnR2{
            z-index: 4;
            position: absolute;
            bottom: 40%;
            left: 50%;
            transform: translate(-50%, 74%) rotate(-167deg);
            display: block;
            width: 10%;
            height: 41%;
            background-color: color.scale($fourthClr, $lightness : +70%);
            border-top-right-radius: 50px;
            border-top-left-radius: 50px;
            //box-shadow : 0 0 10px #00000050;
            &:hover{
                cursor:pointer;
                box-shadow: 0 0 25px #00000050;
            }
        }
    }
}
